BOT-SpotSensor/WindowsFormsApp1/Connected Services/ServiceRefParkingSpotBot/BotService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BotService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:50248/SpotSensor.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:50248/SpotSensor.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:50248/SpotSensor.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BOT_SpotSensor" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IBotService_GetSpotsData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSpotsData" />
  </wsdl:message>
  <wsdl:message name="IBotService_GetSpotsData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSpotsDataResponse" />
  </wsdl:message>
  <wsdl:message name="IBotService_GetSpotData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSpotData" />
  </wsdl:message>
  <wsdl:message name="IBotService_GetSpotData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSpotDataResponse" />
  </wsdl:message>
  <wsdl:message name="IBotService_GetSpotString_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSpotString" />
  </wsdl:message>
  <wsdl:message name="IBotService_GetSpotString_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSpotStringResponse" />
  </wsdl:message>
  <wsdl:message name="IBotService_GetSpotsString_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSpotsString" />
  </wsdl:message>
  <wsdl:message name="IBotService_GetSpotsString_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSpotsStringResponse" />
  </wsdl:message>
  <wsdl:portType name="IBotService">
    <wsdl:operation name="GetSpotsData">
      <wsdl:input wsaw:Action="http://tempuri.org/IBotService/GetSpotsData" message="tns:IBotService_GetSpotsData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBotService/GetSpotsDataResponse" message="tns:IBotService_GetSpotsData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSpotData">
      <wsdl:input wsaw:Action="http://tempuri.org/IBotService/GetSpotData" message="tns:IBotService_GetSpotData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBotService/GetSpotDataResponse" message="tns:IBotService_GetSpotData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSpotString">
      <wsdl:input wsaw:Action="http://tempuri.org/IBotService/GetSpotString" message="tns:IBotService_GetSpotString_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBotService/GetSpotStringResponse" message="tns:IBotService_GetSpotString_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSpotsString">
      <wsdl:input wsaw:Action="http://tempuri.org/IBotService/GetSpotsString" message="tns:IBotService_GetSpotsString_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBotService/GetSpotsStringResponse" message="tns:IBotService_GetSpotsString_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IBotService" type="tns:IBotService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetSpotsData">
      <soap:operation soapAction="http://tempuri.org/IBotService/GetSpotsData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSpotData">
      <soap:operation soapAction="http://tempuri.org/IBotService/GetSpotData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSpotString">
      <soap:operation soapAction="http://tempuri.org/IBotService/GetSpotString" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSpotsString">
      <soap:operation soapAction="http://tempuri.org/IBotService/GetSpotsString" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BotService">
    <wsdl:port name="BasicHttpBinding_IBotService" binding="tns:BasicHttpBinding_IBotService">
      <soap:address location="http://localhost:50248/SpotSensor.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>