BOT-SpotSensor/WindowsFormsApp1/Connected Services/ServiceRefParkingSpotBot/SpotSensor2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50248/SpotSensor.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BOT_SpotSensor" />
  <xs:element name="GetSpotsData">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSpotsDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BOT_SpotSensor" minOccurs="0" name="GetSpotsDataResult" nillable="true" type="q1:ArrayOfParkingSpot" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSpotData">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSpotDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/BOT_SpotSensor" minOccurs="0" name="GetSpotDataResult" nillable="true" type="q2:ParkingSpot" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSpotString">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSpotStringResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetSpotStringResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSpotsString">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSpotsStringResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetSpotsStringResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>