BOT-SpotSensor/WindowsFormsApp1/Connected Services/ServiceRefParkingSpotBot/SpotSensor.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BOT_SpotSensor" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BOT_SpotSensor" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfParkingSpot">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ParkingSpot" nillable="true" type="tns:ParkingSpot" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfParkingSpot" nillable="true" type="tns:ArrayOfParkingSpot" />
  <xs:complexType name="ParkingSpot">
    <xs:sequence>
      <xs:element minOccurs="0" name="IntegerBatteryStatus" type="xs:int" />
      <xs:element minOccurs="0" name="StatusStatus" nillable="true" type="tns:Status" />
      <xs:element minOccurs="0" name="StringId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StringLocation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StringName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StringType" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ParkingSpot" nillable="true" type="tns:ParkingSpot" />
  <xs:complexType name="Status">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="Status" nillable="true" type="tns:Status" />
</xs:schema>