BOT-SpotSensor/WindowsFormsApp1/Connected Services/SpotService/SpotSensor2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50248/SpotSensor.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BOT_SpotSensor" />
  <xs:element name="GetSpots">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSpotsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BOT_SpotSensor" minOccurs="0" name="GetSpotsResult" nillable="true" type="q1:ArrayOfParkingSpot" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>